.table-view {
    -fx-font-size: 16px;
    -fx-font-family: "Asap Condensed";
    -fx-border-color: #FF6D6D;
    -fx-border-width: 1px;
    -fx-border-radius: 10;
    -fx-border-insets: 0 0 0 0;
    -fx-border-style: solid;
    -fx-background-color: white;
    -fx-background-radius: 10;     
    -fx-padding: 10px
}

.table-view .column-header {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-color: #ffe6e6;
}

.table-cell {
    -fx-padding: 10px;
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 1px 0;
}

.table-row-cell:even {
    -fx-background-color: #fff;
}

.table-row-cell:selected {
    -fx-background-color: #FFB3B3;
    -fx-text-fill: black;
}